<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

		{% block title %}
		<title> title </title> 
		{% endblock %}

		<style>
			@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
			body {
				font-family: 'Roboto Slab';
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                 background-size: cover;
			}
			.content {
				position: absolute;
				top: 0px;
				bottom: 0;
				left: 0;
				right: 0;
				align: center;
				overflow-y: scroll;
			}
			.parallax {
				top: 56px;
				bottom: 0;
				left: 0;
				right: 0;
				position: fixed;
			}
			.mouse-parallax {
				height: 885px;
				position: relative;
				overflow: hidden;
			}
			.mouse-parallax-bg {
				position: absolute;
				background-image: url(https://mengembangkandiri.com/wp-content/uploads/2019/12/susan-yin-2JIvboGLeho-unsplash-768x513.jpg);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				width: 110%;
				height: 110%;
				transition: all 0.1s ease;
			}
		</style>

		{% block style %}
		{% endblock %}

	</head>
	<body>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

		{% block precontent %}
		{% endblock %}

		<!-- navigation bar starts -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<!-- navbar brand starts -->
				<a class="navbar-brand" href="{% url 'home' %}">KNИGИ</a>
				<!-- navbar brand ends -->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<!-- navbar menu starts -->
				<div class="collapse navbar-collapse justify-content-between" id="navbarNav">
					<!-- left navbar menu starts -->
					<ul class="navbar-nav">
						<li class="nav-item">
							{% if user.is_authenticated %}
								<form method="post" action="{% url 'lists:library' %}">
									{% csrf_token %}
									<button style=" outline: none; border: 0; background: transparent;" onclick="location.href='{% url 'lists:library' %}'" class="nav-link">Библиотека</button>
									<input class="visually-hidden" name="username" type="search" value="{{ user.username }}">
								</form>
            				{% else %}
								<a class="nav-link" href="{% url 'login' %}">Библиотека</a>
            				{% endif %}
						</li>
						<li class="nav-item">
							{% if user.is_authenticated %}
								<a class="nav-link" href="{% url 'lists:profile' %}">Настройки</a>
            				{% else %}
								<a class="nav-link" href="{% url 'login' %}">Настройки</a>
            				{% endif %}
						</li>
					</ul>
					<!-- left navbar menu ends -->

					<!-- right navbar menu starts -->
					<ul class="navbar-nav ml-auto">
						{% if user.is_authenticated %}
						<li class="nav-item" style="padding-right: 40px;">
							<a class="btn btn-success ml-auto" href="{% url 'lists:profile' %}" role="button"> {{ user.username }} <img class="border border-2 rounded w-100" src="{{ avatar_url }}}" style="max-width: 40px; position: absolute; right: 100px; top: 8px;"></a>
						</li>
						{% endif %}
          				<li class="nav-item">
            				{% if user.is_authenticated %}
              					<a class="btn btn-outline-success ml-auto" href="{% url 'logout' %}" role="button">Выйти</a>
            				{% else %}
              					<a class="btn btn-outline-success ml-auto" href="{% url 'login' %}" role="button">Войти</a>
            				{% endif %}
          				</li>
        			</ul>
					<!-- right navbar menu ends -->
				</div>
				<!-- navbar menu ends -->
			</div>
			</nav>
		</header>
		<!-- navigation bar ends -->

		<div class="parallax">
			<div class="mouse-parallax">
				<div class="mouse-parallax-bg">
				</div>
			</div>
			<div class="content">
					{% block content %}
					{% endblock %}
					</div>
		</div>
		<script>
			let bg = document.querySelector('.mouse-parallax-bg');
			window.addEventListener('mousemove', function(e) {
				let x = e.clientX / window.innerWidth;
				let y = e.clientY / window.innerHeight;
				bg.style.transform = 'translate(-' + x * 50 + 'px, -' + y * 50 + 'px)';
			});
	    </script>
	</body>

</html>