{% extends 'search/base.html' %}

{% block content %}

<style>
    .popup {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        top: 0;
        left:0;
        opacity: 0;
        visibility: hidden;
    }
    .popup:target {
        opacity: 1;
        visibility: visible;
    }
    .popup_body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    .popup_content{
        background-color: #fff;
        color: #000;
        max-width: 800px;
        padding: 30px;
        position: relative;
    }
    .popup_title{
        font-size: 25px;
        margin: 0px 0px 1em opx;
    }
    .popup_close{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 20px;
        color: #000;
        text-decoration: none;
    }
</style>

<div id="popup" class="popup">
    <div class="popup_body">
        <div class="popup_content">
            <a href="#" class="popup_close">X</a>
            <div class="popup_title"> Укажите метки киниги, если это необходимо: </div>
            <form method="post" action="{% url 'add_book' %}">
                {% csrf_token %}
                <input class="form-control col-6" name="tags" style="width: 600px;" type="text" placeholder="Например: #Научпоп #История">
                <button onclick="location.href='{% url 'add_book' %}'" class="btn btn-dark" style="width:100%; margin-top:10px; margin-bottom:10px;">Продолжить</button>
                <input class="visually-hidden" name="s" type="search" value="{{ book }}{{ user.username }}', '{{ publisher }}', '{{ pub_year }}', '{{ page_count_min }}', '{{ page_count_max }}', '{{ language }}">
                <input class="visually-hidden" name="user" type="search" value="{{ user.username }}">
            </form>
        </div>
    </div>
</div>

<div class="container border border-1 rounded" style="background-color: white; margin-top: 30px;">
    <table class="table table-borderless">
        <tbody>
            <tr class="m-2">
                <td class="m-2">
                    <div class="d-flex border border-1 rounded justify-content-between">
                        <div class="flex-fill m-2">
                            <img class="rounded thumb" style="width:200px;" src="{{ image_link }}">
							{% if user.is_authenticated %}
              					{% if condition %}
								<button onclick="location.href='#popup'" class="btn btn-dark" style="width:100%; margin-top:10px; margin-bottom:10px;">Добавить</button>
								{% else %}
								<form method="post" action="{% url 'delete_book' %}">
									{% csrf_token %}
									<button onclick="location.href='{% url 'delete_book' %}'" class="btn btn-dark" style="width:100%; margin-top:10px; margin-bottom:10px;">Удалить из библиотеки</button>
                                    <input class="visually-hidden" name="user" type="search" value="{{ user.username }}">
									<input class="visually-hidden" name="s" type="search" value="{{ self_id }}|{{ query }}|{{ author }}|{{ category }}|{{ empty }}|{{ publisher_search }}|{{ pub_year }}|{{ page_count_min }}|{{ page_count_max }}|{{ language_search }}|{{ tags_search }}">
								</form>
								{% endif %}
            				{% else %}
								<button onclick="location.href='{% url 'login' %}'" class="btn btn-dark" style="width:100%; margin-top:10px; margin-bottom:10px;">Добавить</button>
            				{% endif %}
                            {% if categories %}
                                <p>Жанр: {{ categories }} </p>
                            {% else %}
                                <p>Жанр: не указан </p>
                            {% endif %}
                            {% if language %}
                                <p>Язык: {{ language }} </p>
                            {% else %}
                                <p>Язык: не указан </p>
                            {% endif %}
                            {% if page_count %}
                                <p>Объём: {{ page_count }} стр.</p>
                            {% else %}
                                <p>Объём: не указан </p>
                            {% endif %}
                            {% if pub_date %}
                                <p>Дата публикации: {{ pub_date }} </p>
                            {% else %}
                                <p>Дата публикации: не указана </p>
                            {% endif %}
                            {% if publisher %}
                                <p>Издатель: {{ publisher }} </p>
                            {% else %}
                                <p>Издатель: не указан </p>
                            {% endif %}
                        </div>
                        <span class="flex-fill m-2">
                                {% if title %}
                                    <h2><strong> {{ title }} </strong></h2>
                                {% else %}
                                    <h2><strong>Название не указано </strong></h2>
                                {% endif %}
                                {% if authors %}
                                    <h4> {{ authors }} </h4>
                                {% else %}
                                    <h4>Автор не указан </h4>
                                {% endif %}
                                <hr></hr>
                                {% if description and description != 'не указано' %}
                                    <p> {{ description }} </p>
                                {% else %}
                                    <p>Описание не указано </p>
                                {% endif %}
                                {% if tags %}
                                <i>Присвоенные метки: {{ tags }}</i>
                                {% endif %}
                                <span style="position: relative; z-index: -1;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet dolor lorem. Sed molestie vestibulum augue vitae imperdiet.
                                    Proin facilisis sodales molestie. Sed non hendrerit tellus. Vestibulum semper quam et quam pulvinar consequat. Suspendisse feugiat pulvinar orci, eu mollis leo ullamcorper eu. </span>
                        </span>
                    </div>
                </td>
            </tr>
        <tr>
        </tbody>
    </table>
</div>

{% endblock %}