{% extends 'search/base.html' %}

{% block title %}
<title> Поиск </title>
{% endblock %}

{% block style %}
<style>
    a {
        text-decoration: none;
    }
    #overlay {
        position: fixed;
        display: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 10;
    }
    #filters {
        position: fixed;
        display: none;
        width: 30%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 20;
    }
    .filter-button {
        height: 38px;
        width: 38px;
        background: url(https://bit.ly/30Rw8f5) center no-repeat;
        background-size: 90%;
        border: none;
        background-color: rgb(255, 255, 255);
    }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <form class="" style="margin: 270px auto;" action="{% url 'search' %}" method="get">
        <div class="input-group">
            <input class="form-control" name="title" type="search" id="search" placeholder="Введите название искомой книги">
            <button class="btn filter-button border" type="button" onclick="on()"></button>
            <button class="btn btn-dark col-auto" type="submit">Поиск</button>
        </div>
      <input class="visually-hidden" name="user" type="search" value="{{ user.username }}">
      <div id="overlay" onclick="off()"></div>
      <div class="container border border-2 rounded" id="filters">
        <p class="text-center m-2">Фильтры</p>
        <div class="m-2">
          <label class="text-start" for="author">Автор:</label>
          <input class="form-control mt-1" name="author" type="search" id="author" placeholder="Введите имя автора">
        </div>
        <div class="m-2">
          <label class="text-start" for="publisher">Издатель:</label>
          <input class="form-control mt-1" name="publisher" type="search" id="publisher" placeholder="Введите название издателя">
        </div>
        <div class="m-2">
          <label class="text-start" for="pub_year">Год издания:</label>
          <input class="form-control mt-1" name="pub_year" type="number" min="0" max="2021" id="pub_year" placeholder="Введите год издания">
        </div>
        <div class="m-2">
          <label class="text-start">Объём:</label>
          <div class="input-group">
            <input class="form-control mt-1" name="page_count_min" type="number" min="0" id="page_count_min" placeholder="От">
            <input class="form-control mt-1" name="page_count_max" type="number" min="0" id="page_count_max" placeholder="До">
          </div>
        </div>
        <div class="d-flex m-2">
        <label class="text-start m-1" for="category">Жанр:</label>
        <select class="form-select" name="category" id="category">
          <option value="">-</option>
          <option value="fiction">Художественная литература</option>
          <option value="science">Наука</option>
          <option value="education">Образование</option>
          <option value="cooking">Кулинария</option>
          <option value="history">История</option>
          <option value="biography & autobiography">Биография</option>
        </select>
        </div>
        <div class="d-flex m-2 pb-2">
        <label class="text-start m-1" for="language">Язык:</label>
        <select class="form-select" name="language" id="language">
          <option value="">-</option>
          <option value="ru">Русский</option>
          <option value="en">Английский</option>
          <option value="de">Немецкий</option>
          <option value="it">Итальянский</option>
          <option value="fr">Французский</option>
          <option value="ja">Японский</option>
        </select>
        </div>
        <p class="text-center m-2">Сортировка</p>
        <div class="row m-2">
          <div class="col">
            <div class="row-auto">
              <input class="form-check-input" name="sort_type" type="radio" value="" id="no-sorting" onclick="check()" checked>
              <label class="form-check-label" for="no-sorting">Нет</label>
            </div>
            <div class="row-auto">
              <input class="form-check-input" name="sort_type" type="radio" value="year" id="year-sorting" onclick="check()">
              <label class="form-check-label" for="year-sorting">По году выпуска</label>
            </div>
            <div class="row-auto">
              <input class="form-check-input" name="sort_type" type="radio" value="size" id="size-sorting" onclick="check()">
              <label class="form-check-label" for="size-sorting">По размеру</label>
            </div>
          </div>
          <div class="col">
            <div class="row-auto">
              <input class="form-check-input visually-hidden" name="sort_by" type="radio" value="" id="empty-sorting" checked>
            </div>
            <div class="row-auto">
              <input class="form-check-input" name="sort_by" type="radio" value="ascend" id="ascend-sorting">
              <label class="form-check-label" for="ascend-sorting">По возрастанию</label>
            </div>
            <div class="row-auto">
              <input class="form-check-input" name="sort_by" type="radio" value="descend" id="descend-sorting">
              <label class="form-check-label" for="descend-sorting">По убыванию</label>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center m-2">
          <button class="btn btn-light" type="button" id="clearButton">Отчистить форму</button>
        </div>
        <div class="d-flex justify-content-center m-2">
          <button class="btn btn-dark" type="button" onclick="off()">OK</button>
        </div>
      </div>
        
    </form>
</div>
<div id="overlay" onclick="off()"></div>
<script>
  document.getElementById("clearButton").onclick = function(e) {
          document.getElementById("author").value = "";
          document.getElementById("publisher").value = "";
          document.getElementById("pub_year").value = "";
          document.getElementById("page_count_min").value = "";
          document.getElementById("page_count_max").value = "";
          document.getElementById("category").value = "";
          document.getElementById("language").value = "";
          document.getElementById("no-sorting").checked = true;
          check();
  }
  
  function on() {
      document.getElementById('overlay').style.display = 'block';
      document.getElementById('filters').style.display = 'block';
  }
  function off() {
      document.getElementById('overlay').style.display = 'none';
      document.getElementById('filters').style.display = 'none';
  }
  
  let pc_min = document.querySelector('[name="page_count_min"]');
  let pc_max = document.querySelector('[name="page_count_max"]');
  pc_max.setAttribute('min', pc_min.value);
  pc_min.addEventListener('change', function(event) {
    pc_max.setAttribute('min', pc_min.value)
  });

  function check() { 
    if (document.getElementById('no-sorting').checked == true) {
      document.getElementById('ascend-sorting').disabled = true;
      document.getElementById('descend-sorting').disabled = true;
      document.getElementById('empty-sorting').checked = true;
    }
    else {
      document.getElementById('ascend-sorting').disabled = false;
      document.getElementById('descend-sorting').disabled = false;
      if (document.getElementById('empty-sorting').checked == true) {
        document.getElementById('ascend-sorting').checked = true;
      }
    }
  }
  check();
</script>
{% endblock %}
