{% extends "search/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container" style="background-color: #FFFFFF; padding: 20px; border-radius: 4px; width: 30%; margin-top: 2%;">
    <div class="row">
      <div class="col">
        <div class="content-section">
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Вход</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Войти</button>
            </div>
          </form>
          <div class="border-top pt-3">
            <small class="text-muted">
              Еще нет аккаунта? <a class="ml-2" href="{% url 'register' %}">Зарегистрироваться</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}