<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

		{% block title %}
		<title> title </title> 
		{% endblock %}

		
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
			body {
				font-family: 'Roboto Slab';
				background: url(https://mengembangkandiri.com/wp-content/uploads/2019/12/susan-yin-2JIvboGLeho-unsplash-768x513.jpg) no-repeat center top fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                 background-size: cover;
			}
		</style>

		{% block style %}
		{% endblock %}

	</head>
	<body>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

		{% block precontent %}
		{% endblock %}
		<!-- navigation bar starts -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<!-- navbar brand starts -->
				<a class="navbar-brand" href="{% url 'home' %}">KNИGИ</a>
				<!-- navbar brand ends -->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<!-- navbar menu starts -->
				<div class="collapse navbar-collapse justify-content-between" id="navbarNav">
					<!-- left navbar menu starts -->
					<ul class="navbar-nav">
						<li class="nav-item">
						<a class="nav-link" href="{% url 'lists:library' %}">Библиотека</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="{% url 'lists:listing' %}">Списки</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="{% url 'lists:profile' %}">Настройки</a>
						</li>
					</ul>
					<!-- left navbar menu ends -->
					<!-- right navbar menu starts -->
					<ul class="navbar-nav">
						<li class="nav-item">
						<a class="nav-link" href="{% url 'lists:profile' %}"><img class="border border-2 rounded" src="https://bit.ly/3tvVkEo" style="height: 36px;"> <span class="ms-2">Профиль</span></a>
						</li>
					</ul>
					<!-- right navbar menu ends -->
				</div>
				<!-- navbar menu ends -->
			</div>
			</nav>
		</header>
		<!-- navigation bar ends -->

		{% block content %}
		{% endblock %}
	</body>
</html>