{% extends 'lists/base.html' %}
{% load crispy_forms_tags %}

{% block title%}
<title>Смена пароля</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;">
        <span class="row m-3 justify-content-start">
            Смена пароля
        </span>
        <div class="row border"></div>
        <div class="d-flex p-4">
            <div class="flex-fill d-flex flex-column" style="width: 30%;">
                <img class="border border-2 rounded w-100" src="{{ avatar_url }}}" style="max-width: 400px;">
            </div>
            <form method="POST" class="flex-fill d-flex flex-column ps-2 pe-2" style="width: 70%;">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn border border-2 w-100" style="margin-top: 20px" type="submit">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}