{% extends 'lists/base.html' %}

{% block title%}
<title>Library</title>
{% endblock %}

{% block style %}
<style>
    a {
        text-decoration: none;
    }
    #overlay {
        position: fixed;
        display: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 10;
    }
    #filters {
        position: fixed;
        display: none;
        width: 30%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 20;
    }
    .filter-button {
        height: 38px;
        width: 38px;
        background: url(https://bit.ly/30Rw8f5) center no-repeat;
        background-size: 90%;
        border: none;
        background-color: rgb(255, 255, 255);
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
<form class="mb-5 mt-5 p-0" action="{% url 'library_search' %}" method="get">
    <div class="input-group">
        <input class="form-control" name="title" type="search" id="search" placeholder="Введите название искомой книги" value="{{ query }}">
        <button class="btn filter-button border" type="button" onclick="on()"></button>
        <button class="btn btn-dark col-auto" type="submit">Поиск</button>
    </div>
    <input class="visually-hidden" name="user" type="search" value="{{ user.username }}">
    <div id="overlay" onclick="off()"></div>
    <div class="container border border-2 rounded" id="filters">
        <p class="text-center m-2">Фильтры</p>
        <div class="m-2">
        <label class="text-start" for="pub_year">Метки:</label>
        <input class="form-control mt-1" value="{{ tags }}" name="tags" type="search" id="tags" placeholder="Введите метки книги">
        </div>
        <div class="m-2">
        <label class="text-start" for="author">Автор:</label>
        <input class="form-control mt-1" name="author" value="{{ author }}" type="search" id="author" placeholder="Введите имя автора">
        </div>
        <div class="m-2">
        <label class="text-start" for="publisher">Издатель:</label>
        <input class="form-control mt-1" value="{{ publisher }}" name="publisher" type="search" id="publisher" placeholder="Введите название издателя">
        </div>
        <div class="m-2">
        <label class="text-start" for="pub_year">Год издания:</label>
        <input class="form-control mt-1" value="{{ pub_year }}" name="pub_year" type="number" min="0" max="2021" id="pub_year" placeholder="Введите год издания">
        </div>
        <div class="m-2">
        <label class="text-start">Объём:</label>
        <div class="input-group">
            <input class="form-control mt-1" value="{{ page_count_min }}" name="page_count_min" type="number" min="0" id="page_count_min" placeholder="От">
            <input class="form-control mt-1" value="{{ page_count_max }}" name="page_count_max" type="number" min="0" id="page_count_max" placeholder="До">
        </div>
        </div>
        <div class="d-flex m-2 pb-2">
        <label class="text-start m-1" for="category">Жанр:</label>
        <select class="form-select" name="category" id="category">
            <option value="">-</option>
            {% if category == 'fiction' %}
            <option selected value="fiction">Художественная литература</option>
            {% else %}
            <option value="fiction">Художественная литература</option>
            {% endif %}
            {% if category == 'science' %}
            <option selected value="science">Наука</option>
            {% else %}
            <option value="science">Наука</option>
            {% endif %}
            {% if category == 'education' %}
            <option selected value="education">Образование</option>
            {% else %}
            <option value="education">Образование</option>
            {% endif %}
            {% if category == 'cooking' %}
            <option selected value="cooking">Кулинария</option>
            {% else %}
            <option value="cooking">Кулинария</option>
            {% endif %}
            {% if category == 'history' %}
            <option selected value="history">История</option>
            {% else %}
            <option value="history">История</option>
            {% endif %}
            {% if category == 'biography & autobiography' %}
            <option selected value="biography & autobiography">Биография</option>
            {% else %}
            <option value="biography & autobiography">Биография</option>
            {% endif %}
        </select>
        </div>
        <div class="d-flex m-2 pb-2">
            <label class="text-start m-1" for="language">Язык:</label>
            <select class="form-select" name="language" id="language">
                <option value="">-</option>
                {% if language == 'ru' %}
                <option selected value="ru">Русский</option>
                {% else %}
                <option value="ru">Русский</option>
                {% endif %}
                {% if language == 'en' %}
                <option selected value="en">Английский</option>
                {% else %}
                <option value="en">Английский</option>
                {% endif %}
                {% if language == 'de' %}
                <option selected value="de">Немецкий</option>
                {% else %}
                <option value="de">Немецкий</option>
                {% endif %}
                {% if language == 'it' %}
                <option selected value="it">Итальянский</option>
                {% else %}
                <option value="it">Итальянский</option>
                {% endif %}
                {% if language == 'fr' %}
                <option selected value="fr">Французский</option>
                {% else %}
                <option value="fr">Французский</option>
                {% endif %}
                {% if language == 'ja' %}
                <option selected value="ja">Японский</option>
                {% else %}
                <option value="ja">Японский</option>
                {% endif %}
            </select>
            </div>
        <p class="text-center m-2">Сортировка</p>
        <div class="row m-2">
          <div class="col">
            <div class="row-auto">
              <input class="form-check-input" name="sort_type" type="radio" value="" id="no-sorting" onclick="check()" checked>
              <label class="form-check-label" for="no-sorting">Нет</label>
            </div>
            <div class="row-auto">
              <input class="form-check-input" name="sort_type" type="radio" value="year" id="year-sorting" onclick="check()">
              <label class="form-check-label" for="year-sorting">По году выпуска</label>
            </div>
            <div class="row-auto">
              <input class="form-check-input" name="sort_type" type="radio" value="size" id="size-sorting" onclick="check()">
              <label class="form-check-label" for="size-sorting">По размеру</label>
            </div>
          </div>
          <div class="col">
            <div class="row-auto">
              <input class="form-check-input visually-hidden" name="sort_by" type="radio" value="" id="empty-sorting" checked>
            </div>
            <div class="row-auto">
              <input class="form-check-input" name="sort_by" type="radio" value="ascend" id="ascend-sorting">
              <label class="form-check-label" for="ascend-sorting">По возрастанию</label>
            </div>
            <div class="row-auto">
              <input class="form-check-input" name="sort_by" type="radio" value="descend" id="descend-sorting">
              <label class="form-check-label" for="descend-sorting">По убыванию</label>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center m-2">
          <button class="btn btn-light" type="button" id="clearButton">Отчистить форму</button>
        </div>
        <div class="d-flex justify-content-center m-2">
          <button class="btn btn-dark" type="button" onclick="off()">OK</button>
        </div>
    </div>
</form>
<div class="container border border-1 rounded" style="background-color: white;">
        <div class="row border"></div>
        <div class="row m-3">
            <table class="table table-borderless">
                <tbody>
                {% if books %}
                {% for book in books %}
                <tr class="m-2">
                    <td class="m-2">
                        <form action="{% url 'book' %}" method="get">
                                <button type="submit" onclick="location.href='{% url 'book' %}'"
                                        style="cursor: pointer; width:100%; text-align:left; background-color: white; border:0px">
                                    <input class="visually-hidden" name="s" type="search" value="{{ book }}|{{ query }}|{{ author }}|{{ category }}|{{ empty }}|{{ publisher }}|{{ pub_year }}|{{ page_count_min }}|{{ page_count_max }}|{{ language }}|{{ tags }}">
                                    <input class="visually-hidden" name="user" id="user" type="search" value="{{ user.username }}">
                                    <div class="d-flex border border-1 rounded justify-content-between">
                                        <div class="flex-fill m-2">
                                            <img class="rounded thumb" src="{{ book.image_link }}">
                                        </div>
                                        <span class="flex-fill m-2">
                                                <h5><strong> {{ book.title }} ({{ book.pub_date.year }}) </strong></h5>
                                                {% if book.authors != 'не указан' %}
                                                    <p> {{ book.authors }} </p>
                                                {% else %}
                                                    <p> Автор не указан </p>
                                                {% endif %}
                                                {% if book.categories != 'не указан' %}
                                                    <p> {{ book.categories }} </p>
                                                {% else %}
                                                    <p> Жанр не указан </p>
                                                {% endif %}
                                                {% if book.description_short %}
                                                    <p> {{ book.description_short }} </p>
                                                {% elif book.description != 'не указано' %}
                                                    <p> {{ book.description }} </p>
                                                <span style="position: relative; z-index: -1;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet dolor lorem.
                                                        Sed molestie vestibulum augue vitae imperdiet. Proin facilisis</span>
                                                {% else %}
                                                    <p> Описание не указано </p>
                                                    <span style="position: relative; z-index: -1;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet dolor lorem.
                                                        Sed molestie vestibulum augue vitae imperdiet. Proin facilisis</span>
                                                {% endif %}
                                                {% if book.tags %}
                                                <p align="center"><i>Присвоенные метки: {{ book.tags }}</i></p>
                                                {% endif %}
                                        </span>
                                    </div>
                                    </button>
                            </form>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <p align="center">{{ empty }}</p>
                {% endif %}
                </tbody>
            </table>
        </div>
</div>
</div>
<script>
    document.getElementById("clearButton").onclick = function(e) {
              document.getElementById("author").value = "";
              document.getElementById("publisher").value = "";
              document.getElementById("pub_year").value = "";
              document.getElementById("page_count_min").value = "";
              document.getElementById("page_count_max").value = "";
              document.getElementById("category").value = "";
              document.getElementById("language").value = "";
              document.getElementById("no-sorting").checked = true;
              check();
    }

    function on() {
      document.getElementById('overlay').style.display = 'block';
      document.getElementById('filters').style.display = 'block';
    }
    function off() {
      document.getElementById('overlay').style.display = 'none';
      document.getElementById('filters').style.display = 'none';
    }

    let pc_min = document.querySelector('[name="page_count_min"]');
    let pc_max = document.querySelector('[name="page_count_max"]');
    pc_max.setAttribute('min', pc_min.value);
    pc_min.addEventListener('change', function(event) {
        pc_max.setAttribute('min', pc_min.value)
    });

    function check() { 
        if (document.getElementById('no-sorting').checked == true) {
            document.getElementById('ascend-sorting').disabled = true;
            document.getElementById('descend-sorting').disabled = true;
            document.getElementById('empty-sorting').checked = true;
        }
        else {
            document.getElementById('ascend-sorting').disabled = false;
            document.getElementById('descend-sorting').disabled = false;
            if (document.getElementById('empty-sorting').checked == true){
                document.getElementById('ascend-sorting').checked = true
            }
        }
    }
    check();
</script>
{% endblock %}