{% extends 'lists/base.html' %}

{% block title %}
<title> Списки </title>
{% endblock %}

{% block style %}
<style>
    a {
        text-decoration: none;
    }
    #overlay {
        position: fixed; 
        display: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%; 
        height: 100%; 
        background-color: rgba(0, 0, 0, .5); 
        z-index: 1;
    }
    #new-list {
        position: fixed;
        display: none;
        width: 30%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 2;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <form class="row g-0 m-5 justify-content-center" method="get">
        <div class="col-6">
            <label class="visually-hidden" for="inputSearch">Search</label>
            <input class="form-control" name="list_search" type="search" id="inputSearch" placeholder="Введите название искомого списка">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-light">Поиск</button>
        </div>
    </form>
    <div class="row justify-content-center m-5">
        <ul class="list-group">
            {% for list in lists %}
            <li class="list-group-item">
                <a class="nav-link" href="{% url 'lists:list' %}" >
                    <div class="row justify-content-between">
                        <span class="col-auto text-body"> {{ list.name }} </span>
                        <span class="col-auto text-secondary"> {{ list.size }} шт. </span>
                    </div>
                </a>
            </li>
            {% endfor %}
            <li class="list-group-item">
                <button class="btn border border-2 w-100" type="button" onclick="on()">Создать список</button>
            </li>
        </ul>
    </div>
</div>
<div id="overlay" onclick="off()"></div>
<div class="container border border-2 rounded" id="new-list">
    <form class="col-auto p-2" action="{% url 'lists:listing' %}" method="POST">
        {% csrf_token %}
        <p class="row m-2">Новый список</p>
        <input class="row m-1 form-control" type="text" name="list_name" placeholder="Введите название" style="width: 97%" required>
        <button class="row m-1 btn btn-dark" type="submit" style="width: 97%;">Создать список</button>
    </form>
</div>
<script>
    function on() {
        document.getElementById('overlay').style.display = 'block';
        document.getElementById('new-list').style.display = 'block';
    }
    function off() {
        document.getElementById('overlay').style.display = 'none';
        document.getElementById('new-list').style.display = 'none';
    }
</script>
</a>
{% endblock %}