{% extends 'lists/base.html' %}

{% block title %}
<title> {{ list.name }} </title>
{% endblock %}

{% block style %}
<style>
    filter_icon {
        height: 38px; 
        width: 38px; 
        background-image: url(https://www.flaticon.com/svg/static/icons/svg/57/57164.svg); 
        background-size: 100%; 
        border: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="row m-5 g-0">
    <form class="col-md row g-0 justify-content-center" method="get">
        <div class="col-6">
            <label for="inputSearch" class="visually-hidden">Search</label>
            <input class="form-control" name="book_search" type="search" id="inputSearch" placeholder="Введите название искомой книги">
        </div>
        <div class="col-auto">
            <button class="btn btn-light" type="submit">Поиск</button>
        </div>
        <div class="col-auto ms-2">
            <button class="btn" type="button" style="height: 38px; width: 38px; background-image: url(https://bit.ly/30Rw8f5); background-size: 100%; border: none;"></button>
        </div>
    </form>
</div>
<div class="container border border-1 rounded" style="background-color: white;">
    <span class="row m-3 justify-content-between">
        <span class="col-auto"> {{ list.name }} </span>
        <span class="col-auto text-secondary"> {{ list.size }} шт. </span>
    </span>
    <div class="row border"></div>
    <div class="row m-3">
        <table class="table table-borderless">
            <tbody>
                {% for book in list.books %}
                <tr class="m-2">
                    <td class="m-2">
                        <div class="d-flex border border-1 rounded justify-content-between">
                            <div class="m-2">
                                <img class="rounded thumb" src="{{ book.image_link }}">
                            </div>
                            <span class="flex-fill m-2">
                                    <p class="text-start"> {{ book.title }} ({{ book.pub_date.year }}) </p>
                                    <p class="text-start"> {{ book.authors }} </p>
                                    <p class="text-start"> {{ book.description }} </p>
                            </span>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}